<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Назад" routerLink="/main">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>QR квитки</span>
</mat-toolbar>
<div style="height: auto;">
    <mat-carousel [autoplay]="false" [hideArrows]="false" [hideIndicators]="false" [maintainAspectRatio]="false"
        [slideHeight]="'450px'">
        @for (qr of qrs; track $index) {
        <mat-carousel-slide>
            <div class="qr-code-container">
                <ngx-qrcode-styling [config]="{
                    width: 250,
                    height: 250,
                    data: qr.GUID,
                    image: 'https://upload.wikimedia.org/wikipedia/commons/d/df/Paris_logo_tram_jms.svg' ,
                    margin: 5, dotsOptions: { color: '#1977f3' , type: 'dots' }, backgroundOptions: { color: '#ffffff' ,
                    }, imageOptions: { crossOrigin: 'anonymous' , margin: 0}}"
                    style="text-align: center;display: block;margin-top: 12px;"></ngx-qrcode-styling>
                <p>Номер: {{qr.GUID}}</p>
                <p>{{qr.Used?'Використаний':'Невикористаний'}}</p>
                <p>Дійсний до {{formatDate(qr.Validity)}}</p>
            </div>
        </mat-carousel-slide>
        }
    </mat-carousel>
</div>
<button mat-raised-button color="primary" (click)="buy()"
    style="margin-left: auto;margin-right: auto;display: block; margin-top: 12px;">Купити
    новий</button>
