<mat-card>
    <mat-card-content>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <h2>Вхід</h2>
            <mat-error *ngIf="!loginValid">
                Ім'я користувача та пароль не розпізнано
            </mat-error>
            <mat-form-field>
                <input matInput [(ngModel)]="username" name="username" required>
                <mat-error>
                    Укажіть дійсне ім'я користувача
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
                <mat-error>
                    Введіть дійсний пароль
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid"
                style="display: block;margin: auto; margin-bottom: 4px;">Увійти</button>
            <button mat-raised-button color="primary" style="display: block; margin: auto;"><span
                    style="display: flex;align-items: center;">Увійти з BankID<img width="36" style="margin: auto;"
                        src="../../assets/BankID_logo_white.svg"></span></button>
        </form>
    </mat-card-content>
</mat-card>
