<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{travelcard?.type_card?.Type_name_ua}} карта</mat-card-title>
            <mat-card-subtitle>{{travelcard?.Travelcard_id}}</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <p>{{travelcard?.First_name + ' ' + travelcard?.Last_name }} <span
                style="text-align: right;float: right;">{{travelcard?.Balance}} ₴</span></p>
    </mat-card-content>
</mat-card>
<mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile>
        <button mat-button routerLink="/travel_history"><mat-icon aria-hidden="false" aria-label="Історія поїздок"
                fontIcon="history"></mat-icon>
            Історія поїздок</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-button routerLink="/transaction"><mat-icon aria-hidden="false" aria-label="Транзакіції"
                fontIcon="paid"></mat-icon>Транзакіції</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-button routerLink="/qr_code"><mat-icon aria-hidden="false" aria-label="Мої QR квитки"
                fontIcon="qr_code"></mat-icon>Мої QR
            квитки</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-button routerLink="/routes"><mat-icon aria-hidden="false" aria-label="Розклад"
                fontIcon="schedule"></mat-icon>Розклад</button>
    </mat-grid-tile>
</mat-grid-list>
