<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Назад" routerLink="/routes">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Розклад</span>
</mat-toolbar>
<mat-checkbox [(ngModel)]="reverse" (ngModelChange)="changeMode()">Зворотній маршрут</mat-checkbox>
<mat-nav-list>
    @for (schedule of schedules; track $index) {
    <mat-list-item>
        <span matListItemTitle>{{schedule.stop.Stop_name_ua}}</span>
        <span matListItemLine>Найблищий травмай: {{reverse?schedule.arrivalTimeReverse[0]:schedule.arrivalTime[0]}}
            хв</span>
        <span matListItemLine>Наступний травмай: {{reverse?schedule.arrivalTimeReverse[1]:schedule.arrivalTime[1]}}
            хв</span>
    </mat-list-item>
    }
</mat-nav-list>
