<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Назад" routerLink="/main">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Історія проїзду</span>
</mat-toolbar>
<mat-list>
    @for (historyItem of travelhistory; track $index) {
    <mat-list-item>
        <h3 matListItemTitle>{{ formatDate(historyItem.Date_of_start) }}</h3>
        <p matListItemLine>Початок маршруту: {{ historyItem.routeStart.stop.Stop_name_ua }}</p>
        <p matListItemLine>Кінець маршруту: {{ historyItem.routeEnd?historyItem.routeEnd.stop.Stop_name_ua:'' }}</p>
    </mat-list-item>
    }
</mat-list>
