<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Назад" routerLink="/main">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Маршрути</span>
</mat-toolbar>
<mat-nav-list>
    @for (route of routes; track $index) {
    <mat-list-item routerLink="/schedule/{{route.Route_id}}">
        <span matListItemTitle>{{route.Route_number}}</span>
        <span matListItemLine>Кількість зупинок: {{route.Stops}}, час: {{route.Duration}} хв</span>
    </mat-list-item>
    }
</mat-nav-list>
