@import 'ngx-toastr/toastr';

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: aliceblue;
}

app-login {
    height: 100% !important;
    display: flex !important;
}

app-travel-history {
    height: 100% !important;
}

.carousel-slide-content {
    background-color: aliceblue !important;
}
