<h1 mat-dialog-title>Введіть суму</h1>
<div mat-dialog-content>
    <form #form="ngForm">
        <mat-form-field>
            <mat-label>Сума</mat-label>
            <input matInput [(ngModel)]="data.money" name="money" type="number" min="0.01" required
                pattern="^(0|[1-9]\d*)(\.\d{1,2})?$">
            <mat-hint>Мінімальне значення: 0.01 і два знаки після коми.</mat-hint>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Ні, дякую</button>
    <button mat-button [mat-dialog-close]="form.valid ? data.money : null" type="button"
        [disabled]="!form.valid">Ok</button>
</div>
