<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Назад" routerLink="/main">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Транзакції</span>
</mat-toolbar>
<mat-card>
    <mat-card-content style="text-align: center;">
        <p style="margin-top: 0px;margin-bottom: 2px;font-size: 1.5em;">{{balance()}} ₴</p>
        <button mat-raised-button color="primary" (click)="openDialog()">Поповнити баланс</button>
    </mat-card-content>
</mat-card>
<mat-list>
    @for (transaction of transactions; track $index) {
    <mat-list-item>
        <h3 matListItemTitle>{{ formatDate(transaction.Date) }}</h3>
        <p matListItemLine>{{ transaction.Type.Type_name_ua }}</p>
        <p matListItemLine style="float: right;font-size: medium;">{{ transaction.Change }} ₴</p>
    </mat-list-item>
    }
</mat-list>
